<div class="container mt-4">
  <div class="card smt-4">
    <div class="card-header">
      Lista de productos
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of productos">
            <td scope="row">{{prod.productId}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.stock}}</td>
            <td>
              <button (click)="editarProducto(prod.productId)" class="btn btn-sm btn-warning m-1">Editar</button>
              <button class="btn btn-sm btn-danger m-1">Eliminar</button>
            </td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <div class="footer"></div>
  </div>
</div>
